.box {
    position: relative;
    padding: 20px;
    border: 2px solid gray;
    /*border-radius: 5px;*/
    /*display:inline-block;*/
    top: 0;
}

.child-box {
    width: 100px;
    height: 30px;
    background: gray;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.answer-box {
    position: relative;
    min-height: 400px;
    width:49%;
    right:0;
    border: 2px solid gray;
    /*border-radius: 5px;*/
    display: inline-block;
    top: 0;
}

.box-header {
    position: relative;
    padding: 10px;
    background: lightgreen;
    top: 0;
    border:1px solid gray;
    margin-bottom: 20px;
    text-align: center;
}